@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:normal;
	font-weight:200;
	src:url('../../fonts/Inter-ExtraLight.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:italic;
	font-weight:200;
	src:url('../../fonts/Inter-ExtraLightItalic.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:normal;
	font-weight:400;
	src:url('../../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:italic;
	font-weight:400;
	src:url('../../fonts/Inter-Italic.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:normal;
	font-weight:600;
	src:url('../../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:italic;
	font-weight:600;
	src:url('../../fonts/Inter-SemiBoldItalic.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:normal;
	font-weight:800;
	src:url('../../fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face{
	font-display:swap;
	font-family:'Inter';
	font-style:italic;
	font-weight:800;
	src:url('../../fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
}
