@font-face{
  font-display:swap;
  font-family:'Material Symbols Outlined';
  font-style:normal;
  font-weight:400;
  src:url('../../fonts/material-symbols-outlined-v138-latin-regular.woff2') format('woff2');
}